<div class="hide-desktop background-primary text-center header-mobile">
	Copy 10 Traders

	<button class="sidebar-toggle">
		<i class="fas fa-bars"></i>
	</button>


	<div class="menu_mobile hide">

		<nav class="menu_box_mobile">   
			<ul class="list-unstyled">
				<li class="<%= data[usuario.id + '_numero_menu'] == 1 ? 'active' : ''%>">
					<a class="ajax-load" href="/sistema"> <i class="fas fa-home"></i>Home </a>
				</li>

				<li class="<%= data[usuario.id + '_numero_menu'] == 4 ? 'active' : ''%>" >
					<a class="ajax-load" href="/sistema/minha_conta"> <i class="fas fa-user-circle"></i>Minha Conta </a>
				</li>

				<%if(usuario.nivel == 2){%>
				
				<li class="<%= data[usuario.id + '_numero_menu'] == 2 ? 'active' : ''%>" >
					<a class="ajax-load" href="/sistema/operacional"> <i class="fas fa-cog"></i>Operacional </a>
				</li>

				<%}%>

				<li class="<%= data[usuario.id + '_numero_menu'] == 3 ? 'active' : ''%>">
					<a class="ajax-load" href="/sistema/traders_globais"> <i class="fas fa-users"></i>Traders Globais </a>
				</li>

				<li><a class="logout" href="/logout" onclick="return confirm('Você deseja sair?');"> <i class="fas fa-sign-out-alt"></i>Sair </a></li>

			</ul>
		</nav>

	</div>

</div>










<nav id="sidebar" class="hide-mobile">   
	<div class="white-text text-center">
		<img style="width: 50%;" src="/public/images/Logo_CT.png">

	</div>     
	<ul class="list-unstyled">
		<li class="<%= data[usuario.id + '_numero_menu'] == 1 ? 'active' : ''%>">
			<a class="ajax-load" href="/sistema"> <i class="fas fa-home"></i>Home </a>
		</li>

		<li class="<%= data[usuario.id + '_numero_menu'] == 4 ? 'active' : ''%>" >
			<a class="ajax-load" href="/sistema/minha_conta"> <i class="fas fa-user-circle"></i>Minha Conta </a>
		</li>


		<%if(usuario.nivel == 2){%>

		<li class="<%= data[usuario.id + '_numero_menu'] == 2 ? 'active' : ''%>" >
			<a class="ajax-load" href="/sistema/operacional"> <i class="fas fa-cog"></i>Operacional </a>
		</li>

		<%}%>

		<li class="<%= data[usuario.id + '_numero_menu'] == 3 ? 'active' : ''%>">
			<a class="ajax-load" href="/sistema/traders_globais"> <i class="fas fa-users"></i>Traders Globais </a>
		</li>

		<li><a class="logout" href="/logout" onclick="return confirm('Você deseja sair?');"> <i class="fas fa-sign-out-alt"></i>Sair </a></li>

	</ul>




</nav>


<script type="text/javascript">
	<% if( data[usuario.id +'_conta'].acao == 'iniciar' || data[usuario.id +'_conexao'].status == ''){ %>
	zerarIntervalo();
	setarPararTimer();
	timer60sec();


	<%}%>

</script>




