<div class="hide-desktop background-primary text-center header-mobile">
	Copy 10 Traders

	<button class="sidebar-toggle">
		<i class="fas fa-bars"></i>
	</button>


	<div class="menu_mobile hide">

		<nav class="menu_box_mobile">   
			<ul class="list-unstyled">
				<li class="<%= data[usuario.id + '_numero_menu'] == 1 ? 'active' : ''%>">
					<a class="ajax-load" href="/sistema"> <i class="fas fa-home"></i>Home </a>
				</li>

				<%if(usuario.nivel == 2){%>
				
				<li class="<%= data[usuario.id + '_numero_menu'] == 2 ? 'active' : ''%>" >
					<a class="ajax-load" href="/sistema/operacional"> <i class="fas fa-cog"></i>Operacional </a>
				</li>

				<%}%>

				<li class="<%= data[usuario.id + '_numero_menu'] == 3 ? 'active' : ''%>">
					<a class="ajax-load" href="/sistema/operadores"> <i class="fas fa-user"></i>Operadores Globais </a>
				</li>

				<li><a class="logout" href="/logout" onclick="return confirm('Você deseja sair?');"> <i class="icon-logout"></i>Sair </a></li>

			</ul>
		</nav>

	</div>

</div>










<nav id="sidebar" class="hide-mobile">   
	<div class="white-text text-center">LOGO</div>     
	<ul class="list-unstyled">
		<li class="<%= data[usuario.id + '_numero_menu'] == 1 ? 'active' : ''%>">
			<a class="ajax-load" href="/sistema"> <i class="fas fa-home"></i>Home </a>
		</li>

		<%if(usuario.nivel == 2){%>

		<li class="<%= data[usuario.id + '_numero_menu'] == 2 ? 'active' : ''%>" >
			<a class="ajax-load" href="/sistema/operacional"> <i class="fas fa-cog"></i>Operacional </a>
		</li>

		<%}%>

		<li class="<%= data[usuario.id + '_numero_menu'] == 3 ? 'active' : ''%>">
			<a class="ajax-load" href="/sistema/operadores"> <i class="fas fa-user"></i>Operadores Globais </a>
		</li>

		<li><a class="logout" href="/logout" onclick="return confirm('Você deseja sair?');"> <i class="icon-logout"></i>Sair </a></li>

	</ul>





	<div class="conectar_box white-text hide-mobile">

		<% if (data[usuario.id +'_conexao'].status == 'primeira_vez' || data[usuario.id +'_conexao'].status == 'erro de conexao' ){%>

		Olá <strong>Usuário</strong>, Conecte sua conta da corretora para começar!

		<%if(data[usuario.id +'_conexao'].status == 'erro de conexao'){ %>
		<div class="red-text margin-b-10">
			* <b>Usuário</b> ou <b>senha</b> não conferem com a da plataforma!
		</div>
		<%}%>

		<%- include('../inicio/testar_conexao_form')%>

		<% } %>


		<% if(data[usuario.id +'_conexao'].status == 'conectado'){ %>

		<div class="container_teste_conexao">
			<div class="block-body">
				Sua conta está conectada como:

				<div class="green-text">
					<%= data[usuario.id +'_conexao'].email%>
				</div>

			</div>

			<div class="form-group margin-t-10"> 

				<button type="button" <%= data[usuario.id +'_conta'].acao == 'iniciar' ? 'disabled' : '' %> data-href="/sistema/popup-confirmacao-alterar-testar-conexao" class="btn <%= data[usuario.id +'_conta'].acao == 'iniciar' ? 'disabled' : 'btn-yellow' %> ajax-submit-open-modal btn-alterar-conta-conexao" data-modal='#modalinfo'>Mudar Conta</button>

			</div>
		</div>

		<% } %>

		<% if(data[usuario.id +'_conexao'].status == ''){ %>

		<div class="container_teste_conexao">


			<div class="text-center">Não se preocupe!</div>
			<div>
				Sua conta está sendo testada como: <strong class="yellow-text"><%= data[usuario.id +'_conexao'].email%></strong>
			</div>

			<div>	
				Tentando novamente em <span class="timer_header_container">
					<span class="timer_header">59</span>'s
				</span>
			</div>

			<div class="margin-t-10">
				<div class="yellow-text margin-b-10">Se preferir pode alterar a conta também!</div>

				<button type="button" <%= data[usuario.id +'_conta'].acao == 'iniciar' ? 'disabled' : '' %> data-href="/sistema/popup-confirmacao-alterar-testar-conexao" class="btn <%= data[usuario.id +'_conta'].acao == 'iniciar' ? 'disabled' : 'btn-yellow' %> ajax-submit-open-modal btn-alterar-conta-conexao" data-modal='#modalinfo'>Mudar Conta</button>
			</div>
		</div>

		<%}%>


	</div>

	<div class="licenca_restante_container hide-mobile">
		<div class="licenca_restante_box white-text">
			<div>Liçenca Restante<span class="float-right"><%= data[usuario.id +'_licenca_user_dias']%> dias</span></div>

			<div class="progress">
				<div class="progress-bar" role="progressbar" style="width: 30%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
			</div>

			<div>Vencimento dia <%= data[usuario.id +'_licenca_data_final']%></div>

		</div>
	</div>

</nav>


<script type="text/javascript">
	<% if( data[usuario.id +'_conta'].acao == 'iniciar' || data[usuario.id +'_conexao'].status == ''){ %>
	zerarIntervalo();
	setarPararTimer();
	timer60sec();


	<%}%>

</script>




