<%- include('../includes/menu_header'); %>


<div class="page-content">


	<section class="no-padding-bottom margin-top-sm">
		<div class="row">

			<div class="col-sm-12">
				<div class="card h-100 gradient-card-3 margin-b-0">

					<h5 class="card-title">Usuários</h5>

					<div class="row no-gutters">
						<div class="color-secondary w100">

							<button class="btn btn-primary ajax-load-to" href="/sistema/adicionar-usuario" data-to="box-adicionar-usuario">Adicionar Usuário</button>


							<div class="box-adicionar-usuario"></div>
							



							<table class="table centered highlight responsive-table cell-border tabela_filtrada" id="">
								<thead>
									<tr>
										<th>Nome</th>
										<th>Email</th>
										<!-- 	<th>Licença</th> -->
										<th>Ações</th>
									</tr>
								</thead>

								<tbody>
									<form method="POST" action="" enctype="multipart/form-data">

										<% if (typeof data[usuario.id +'_usuarios'] != 'undefined' && data[usuario.id +'_usuarios'].length > 0) {
											for (var i = 0; i < data[usuario.id +'_usuarios'].length; i++) {%>



											<tr>
												<td>
													<%= data[usuario.id +'_usuarios'][i].nome %>
												</td>
												<td class="text-center">
													<%= data[usuario.id +'_usuarios'][i].email %>
												</td>
												<td class="text-center">
													<button class="btn btn-primary ajax-load-to" href="/sistema/editar-usuario/<%= data[usuario.id +'_usuarios'][i]._id %>" data-to="box-adicionar-usuario">Editar</button>

													<button class="btn btn-primary ajax-load-to" href="/sistema/alterar-senha-usuario/<%= data[usuario.id +'_usuarios'][i]._id %>" data-to="box-adicionar-usuario">Alterar Senha</button>

													<button class="btn btn-red ajax-load-to" href="/sistema/bloquear-usuario/<%= data[usuario.id +'_usuarios'][i]._id %>" data-to="box-adicionar-usuario">Bloquear Usuário</button>
												</td>



											</tr>


											<%
										}
									} %>

								</form>
							</tbody>
						</table>



					</div>



				</div>
			</div>
		</div>


	</div>
</section>


<section class="no-padding-bottom margin-top-sm">
	<div class="row">

		<div class="col-sm-12">
			<div class="card h-100 gradient-card-3 margin-b-0">
				<h5 class="card-title">Traders Globais</h5>

				<div class="box-editar-operador"></div>

				<table class="table centered highlight responsive-table cell-border tabela_filtrada" id="">
					<thead>
						<tr>
							<th>Nome</th>
							<th>Performance</th>
							<th>País</th>
							<th>Editar</th>
						</tr>
					</thead>

					<tbody>
						<form method="POST" action="" enctype="multipart/form-data">

							<% if (typeof data[usuario.id +'_operadores_todos'] != 'undefined' && data[usuario.id +'_operadores_todos'].length > 0) {
								for (var i = 0; i < data[usuario.id +'_operadores_todos'].length; i++) {%>



								<tr>
									<td>
										<%= data[usuario.id +'_operadores_todos'][i].nome %>
									</td>
									<td>
										<%= data[usuario.id +'_operadores_todos'][i].performance %>
									</td>
									<td>
										<%= data[usuario.id +'_operadores_todos'][i].pais %>
									</td>

									<td>
										<button class="btn btn-primary ajax-load-to" href="/sistema/editar-operador/<%= data[usuario.id +'_operadores_todos'][i]._id %>" data-to="box-editar-operador">Editar</button>
									</td>

								</tr>


								<%
							}
						} %>

					</form>
				</tbody>
			</table>



		</div>
	</div>
</div>




</section>



</div>