<%- include('../includes/menu_header'); %>


<div class="page-content">

	
	<section class="margin-bottom-sm margin-top-sm hide-desktop">
		<div class="row">
			<div class="conectar_box white-text">
				Olá <strong>Usuário</strong>, Conecte sua conta da corretora para começar!

				<form method="POST" action="/">
					<div class="form-group">
						<input id="login-username" type="email" name="email" required data-msg="Por-favor digite o seu e-mail" class="input-material" placeholder="Email acesso da plataforma ">									
					</div>
					<div class="form-group">
						<input id="login-password" type="password" name="senha" required data-msg="Por-favor digite sua senha" class="input-material" placeholder="Senha acesso da plataforma">										
					</div>

					<button class="btn btn-testar-conexao">
						Teste de Conexão
					</button>
				</form>


			</div>
		</div>
	</section>








	<section class="margin-bottom-sm margin-top-sm">
		<div class="row">
			<div class="col-sm-12 col-md-5">
				<div class="card h-100 gradient-card-1">
					<div class="card-body">
						<div class="operacional_dashboard">
							<h5 class="card-title">Operacional</h5>
							<div class="red-text bold">Defina seu operacional e depois inicie o sistema!</div>

							<form>
								<div class="form-group">
									<div for="valor_entrada" class="white-text">Valor de Entrada</div>
									<input type="number" class="form-control" id="valor_entrada" name="valor_entrada" value="<%= data[usuario.id +'_conta'].valor_entrada%>">
								</div>
								<div class="form-group">
									<div for="limite_perda" class="white-text">Valor de Stop</div>
									<input type="number" class="form-control" id="limite_perda" name="limite_perda" value="<%= data[usuario.id +'_conta'].limite_perda%>">
								</div>

								<div class="custom-control custom-switch text-center">
									<label class="custom-control-label color-awaiting" for="tipo_conta">Ativar Conta Real</label>
									<input type="checkbox" class="custom-control-input" id="tipo_conta" <%= data[usuario.id +'_conta'].conta_real == true ? 'checked' : ''%>>
								</div>

								<div class="red-text bold text-center">Se você não ativar a conta real, seu sistema de teste fica no modo conta de treinamento!</div>

								<% if(data[usuario.id +'_conta'].acao == 'parar' || data[usuario.id +'_conta'].status == 'desconectado'){ %>

								<button type="button" <%= (data[usuario.id +'_conexao'].email == '' && data[usuario.id +'_conexao'].senha == '') || (data[usuario.id +'_conexao'].status != 'conectado') ? 'disabled' : '' %> data-href="/sistema/popup-confirmacao-iniciar-operacao/" id="botao_iniciar_sistema" class="btn <%= (data[usuario.id +'_conexao'].email == '' && data[usuario.id +'_conexao'].senha == '') || (data[usuario.id +'_conexao'].status != 'conectado')  ? 'disabled' : 'btn_iniciar_sistema' %>  margin-t-10 margin-b-10 ajax-submit-open-modal" title="Para Iniciar o Sistema, Teste a conexão antes!" data-modal='#modalinfo'>Iniciar Sistema</button>


								<%}else {%>
								<button type="button" id="botao_parar_sistema" data-href="/sistema/popup-confirmacao-parar-operacao/" class="btn btn-danger btn-block margin-t-10 margin-b-10 ajax-submit-open-modal" title="Parar Sistema" data-conect_teste='desconectar' data-modal='#modalinfo'>Parar Sistema</button>
								<% }%>


							</form>

							<div class="block-body error-block" id="error_mensagem_conexao"></div>

						</div>



					</div>
				</div>
			</div>
			<div class="col-sm-12 col-md-7">
				<div class="card h-100 gradient-card-2">
					<div class="card-body">
						<h5 class="card-title">Visão da Conta</h5>

						<div class="row margin-t-20 h70">
							<div class="col-sm-12 col-md-4">
								<div class="numero_operacoes_dashboard"><%= data[usuario.id +'_entrada_nro_operacoes']%></div>
								<div class="label_numero_operacoes_dashboard">Operações</div>
							</div>
							<div class="col-sm-12 col-md-6">
								<div class="performance_box h100">
									<div class="performance_dashboard">80%

										<div class="circle_performance">
											<div class="wrapper" data-anim="base wrapper">
												<div class="circle" data-anim="base left"></div>
												<div class="circle" data-anim="base right"></div>
											</div>
										</div>

									</div>
									
								</div>

							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="no-padding-bottom margin-top-sm">
		<div class="row">

			<div class="col-sm-12">
				<div class="card h-100 gradient-card-3  margin-b-0">

					<h5 class="card-title">Notícias</h5>

					<div class="row no-gutters">
						<div class="color-secondary bold">Atualizado recentemente...</div>
						<div class="color-secondary w100">
							<table class="table_noticias">
								<tbody>
									<tr class="noticia_linha">
										<td class="noticia_hora">2 horas atrás</td>
										<td class="noticia_descricao">Ibovespa fecha acima de 110mil pontos e renova máxima de fevereiro...</td>
										<td class="noticias_more"><i class="fas fa-ellipsis-v"></i></td>
									</tr>
									<tr class="noticia_linha">
										<td class="noticia_hora">3 horas atrás</td>
										<td class="noticia_descricao">S&P Global revisa perspectiva da BRF para positiva, mantém rating de BB...</td>
										<td class="noticias_more"><i class="fas fa-ellipsis-v"></i></td>
									</tr>
									<tr class="noticia_linha">
										<td class="noticia_hora">3 horas atrás</td>
										<td class="noticia_descricao">FISD11, HGRE11, PBLV11: Confira as últimas novidades do setor, Ifix sobe...</td>
										<td class="noticias_more"><i class="fas fa-ellipsis-v"></i></td>
									</tr>

									<tr class="noticia_linha">
										<td class="noticia_hora">4 horas atrás</td>
										<td class="noticia_descricao">Dólar cai para mínima de três meses; dados econômicos fracos não geram recuperação...</td>
										<td class="noticias_more"><i class="fas fa-ellipsis-v"></i></td>
									</tr>

									<tr class="noticia_linha">
										<td class="noticia_hora">4 horas atrás</td>
										<td class="noticia_descricao">Se o país fizer besteira afunda de novo, diz Guedes....</td>
										<td class="noticias_more"><i class="fas fa-ellipsis-v"></i></td>
									</tr>
								</tbody>
							</table>

						</div>



					</div>
				</div>
			</div>


<!-- 			<div class="col-sm-12 col-md-5">
				<div class="card h-100 gradient-card-4 margin-b-0">

					<h5 class="card-title">Mensagens do Sistema</h5>

					<div class="color-blue margin-b-20 margin-t-20 text-center">Mensagens do sistema serão registradas abaixo.</div>

					<div class="mensagem_container">
						<div class="mensagem_box">
							<div class=""> Mensagem exemplo 1  						
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
						</div>

						<div class="mensagem_box">
							<div class=""> Mensagem exemplo 2  						
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
						</div>

						<div class="mensagem_box">
							<div class=""> Mensagem exemplo 3  						
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
						</div>
					</div>


				</div>
			</div>
		-->
	</div>
</section>




</div>