<%- include('../includes/menu_header'); %>


<div class="page-content">

	

	<section class="margin-bottom-sm margin-top-sm hide-desktop">
		<div class="conectar_box white-text">

			<% if (data[usuario.id +'_conexao'].status == 'primeira_vez' || data[usuario.id +'_conexao'].status == 'erro de conexao' ){%>

			Olá <strong>Usuário</strong>, Conecte sua conta da corretora para começar!

			<%if(data[usuario.id +'_conexao'].status == 'erro de conexao'){ %>
			<div class="red-text margin-b-10">
				* <b>Usuário</b> ou <b>senha</b> não conferem com a da plataforma!
			</div>
			<%}%>

			<%- include('../inicio/testar_conexao_form')%>

			<% } %>


			<% if(data[usuario.id +'_conexao'].status == 'conectado'){ %>

			<div class="container_teste_conexao">
				<div class="block-body">
					Sua conta está conectada como:

					<div class="green-text">
						<%= data[usuario.id +'_conexao'].email%>
					</div>

				</div>

				<div class="form-group margin-t-10"> 

					<button type="button" <%= data[usuario.id +'_conta'].acao == 'iniciar' ? 'disabled' : '' %> data-href="/sistema/popup-confirmacao-alterar-testar-conexao" class="btn <%= data[usuario.id +'_conta'].acao == 'iniciar' ? 'disabled' : 'btn-yellow' %> ajax-submit-open-modal btn-alterar-conta-conexao" data-modal='#modalinfo'>Mudar Conta</button>

				</div>
			</div>

			<% } %>

			<% if(data[usuario.id +'_conexao'].status == ''){ %>

			<div class="container_teste_conexao">


				<div class="text-center">Não se preocupe!</div>
				<div>
					Sua conta está sendo testada como: <strong class="yellow-text"><%= data[usuario.id +'_conexao'].email%></strong>
				</div>

				<div>	
					Tentando novamente em <span class="timer_header_container">
						<span class="timer_header">59</span>'s
					</span>
				</div>

				<div class="margin-t-10">
					<div class="yellow-text margin-b-10">Se preferir pode alterar a conta também!</div>

					<button type="button" <%= data[usuario.id +'_conta'].acao == 'iniciar' ? 'disabled' : '' %> data-href="/sistema/popup-confirmacao-alterar-testar-conexao" class="btn <%= data[usuario.id +'_conta'].acao == 'iniciar' ? 'disabled' : 'btn-yellow' %> ajax-submit-open-modal btn-alterar-conta-conexao" data-modal='#modalinfo'>Mudar Conta</button>
				</div>
			</div>

			<%}%>


		</div>



	</section>





	<form>


		<section class="margin-bottom-sm margin-top-sm">
			<div class="row">
				<div class="col-sm-12 col-md-5 margin-b-20">
					<div class="card h-100 gradient-card-1">
						<div class="card-body">
							<div class="operacional_dashboard">
								<h5 class="card-title">Operacional</h5>
								<div class="purple-text bold">Defina seu operacional e depois inicie o sistema!</div>


								<div class="form-group">
									<div for="valor_entrada" class="white-text">Valor por Entrada</div>
									<input type="number" class="form-control" id="valor_entrada" name="valor_entrada" <%= data[usuario.id +'_conta'].acao == 'iniciar' ? 'disabled' : '' %> value="<%= data[usuario.id +'_conta'].valor_entrada%>">
								</div>
								<div class="form-group">
									<div for="limite_perda" class="white-text">Valor de Stop</div>
									<input type="number" <%= data[usuario.id +'_conta'].acao == 'iniciar' ? 'disabled' : '' %> class="form-control" id="limite_perda" name="limite_perda" value="<%= data[usuario.id +'_conta'].limite_perda%>">
								</div>

								<div class="custom-control custom-switch text-center">
									<input type="checkbox" name="tipo_conta" value="0" class="custom-control-input" <%= data[usuario.id +'_conta'].acao == 'iniciar' ? 'disabled' : '' %> id="tipo_conta" <%= data[usuario.id +'_conta'].conta_real == true ? 'checked' : ''%>>
									<%if(data[usuario.id +'_conta'].conta_real == true){%>
									<label class="custom-control-label blue-text label_tipo_conta_change" id="label_tipo_conta_change " for="tipo_conta">Conta Real Ativada</label>
									<%}else{%>								

									<label class="custom-control-label color-awaiting label_tipo_conta_change " id="label_tipo_conta_change" for="tipo_conta">Ativar Conta Real</label>
									<%}%>
								</div>

								<div class="purple-text bold text-center">Se você não ativar a conta real, seu sistema de teste fica no modo conta de treinamento!</div>




								<div class="block-body error-block" id="error_mensagem_conexao"></div>




							</div>



						</div>
					</div>
				</div>
				<div class="col-sm-12 col-md-7 margin-b-20">
					<div class="card h-100 gradient-card-2">
						<div class="card-body">
							<h5 class="card-title">Visão da Conta</h5>

							<div class="row margin-t-20">
								<div class="col-sm-12 col-md-4">
									<div class="numero_operacoes_dashboard"><%= data[usuario.id +'_entrada_nro_operacoes']%></div>
									<div class="label_numero_operacoes_dashboard">Operações</div>
								</div>
								<div class="col-sm-12 col-md-6">
									<div class="performance_box h100">
										<div class="performance_dashboard">

											<div>
												<canvas id="grafico_historico" ></canvas>
											</div>

										</div>

									</div>

									<div class="w100 none operacoes_mensagem_no_data">
										Sem dados suficientes até o momento!
									</div>

								</div>
							</div>

							<div class="margin-t-30">

								<div class="conectar_box white-text hide-mobile">

									<% if (data[usuario.id +'_conexao'].status == 'primeira_vez' || data[usuario.id +'_conexao'].status == 'erro de conexao' ){%>

									Olá <strong>Usuário</strong>, Conecte sua conta da corretora para começar!

									<%if(data[usuario.id +'_conexao'].status == 'erro de conexao'){ %>
									<div class="red-text margin-b-10">
										* <b>Usuário</b> ou <b>senha</b> não conferem com a da plataforma!
									</div>
									<%}%>

									<%- include('../inicio/testar_conexao_form')%>

									<% } %>


									<% if(data[usuario.id +'_conexao'].status == 'conectado'){ %>

									<div class="container_teste_conexao">
										<div class="block-body">
											Sua conta está conectada como:

											<div class="green-text">
												<%= data[usuario.id +'_conexao'].email%>
											</div>

										</div>

										<div class="form-group margin-t-10"> 

											<button type="button" <%= data[usuario.id +'_conta'].acao == 'iniciar' ? 'disabled' : '' %> data-href="/sistema/popup-confirmacao-alterar-testar-conexao" class="btn <%= data[usuario.id +'_conta'].acao == 'iniciar' ? 'disabled' : 'btn-yellow' %> ajax-submit-open-modal btn-alterar-conta-conexao" data-modal='#modalinfo'>Mudar Conta</button>

										</div>
									</div>

									<% } %>

									<% if(data[usuario.id +'_conexao'].status == ''){ %>

									<div class="container_teste_conexao">


										<div class="text-center">Não se preocupe!</div>
										<div>
											Sua conta está sendo testada como: <strong class="yellow-text"><%= data[usuario.id +'_conexao'].email%></strong>
										</div>

										<div>	
											Tentando novamente em <span class="timer_header_container">
												<span class="timer_header">59</span>'s
											</span>
										</div>

										<div class="margin-t-10">
											<div class="yellow-text margin-b-10">Se preferir pode alterar a conta também!</div>

											<button type="button" <%= data[usuario.id +'_conta'].acao == 'iniciar' ? 'disabled' : '' %> data-href="/sistema/popup-confirmacao-alterar-testar-conexao" class="btn <%= data[usuario.id +'_conta'].acao == 'iniciar' ? 'disabled' : 'btn-yellow' %> ajax-submit-open-modal btn-alterar-conta-conexao" data-modal='#modalinfo'>Mudar Conta</button>
										</div>
									</div>

									<%}%>


								</div>


							</div>
						</div>

					</div>
				</div>
			</div>

		</section>




		<section class="no-padding-bottom">
			<div class="row">
				<div class="col-sm-12">
					<div class="card gradient-card-4">
						<div class="block-body text-center">
							<strong class="white-text">Selecione os Traders!</strong>
							<div class="white-text">Deslize para o lado para ver todos!</div>

							<div class="w100 box_operadores_overflow">
								<div class="box_operadores_scroller">
									<% if (typeof data[usuario.id +'_operadores'] != 'undefined' && data[usuario.id +'_operadores'].length > 0) {
										for (var i = 0; i < data[usuario.id +'_operadores'].length; i++) {%>

										<div class="box_operador_dashboard">
											<div>
												<a class="ajax-load" href="/sistema/traders_globais">
													<img src="/public/images/operadores/trader<%=data[usuario.id +'_operadores'][i].numero %>.png">															
												</a>
											</div>
											<div>
												<a class="ajax-load" href="/sistema/traders_globais">
													<span class="operador_nome text-center"><%= data[usuario.id +'_operadores'][i].nome %></span>
												</a>
											</div>
											<div class="custom-control custom-switch ">
												<input type="checkbox" class="custom-control-input copiar_este_trader" <%= data[usuario.id +'_conta'].acao == 'iniciar' ? 'disabled' : '' %> id="copiar_trader_<%= data[usuario.id +'_operadores'][i].numero%>" value="<%= data[usuario.id +'_operadores'][i].numero%>" <%= data[usuario.id +'_usuarios_operadores'].operadores.includes(data[usuario.id +'_operadores'][i].numero) == true ? 'checked' : '' %> >

												<% if(data[usuario.id +'_usuarios_operadores'].operadores.includes(data[usuario.id +'_operadores'][i].numero) == true){ %>

												<label class="custom-control-label label_switch_copiar_<%= data[usuario.id +'_operadores'][i].numero%> blue-text" for="copiar_trader_<%= data[usuario.id +'_operadores'][i].numero%>">Copiando Trader</label>

												<%}else{%>
												<label class="custom-control-label label_switch_copiar_<%= data[usuario.id +'_operadores'][i].numero%>" for="copiar_trader_<%= data[usuario.id +'_operadores'][i].numero%>">Copiar este Trader</label>

												<%}%>

											</div>
										</div>

										<%}
									}%>
								</div>
							</div>


						</div>

						<div class="col-sm-12 margin-t-10">
							<% if(data[usuario.id +'_conta'].acao == 'parar' || data[usuario.id +'_conta'].status == 'desconectado'){ %>

							<button type="button" <%= (data[usuario.id +'_conexao'].email == '' && data[usuario.id +'_conexao'].senha == '') || (data[usuario.id +'_conexao'].status != 'conectado') ? 'disabled' : '' %> data-href="/sistema/iniciar-operacao/" id="botao_iniciar_sistema" class="btn <%= (data[usuario.id +'_conexao'].email == '' && data[usuario.id +'_conexao'].senha == '') || (data[usuario.id +'_conexao'].status != 'conectado')  ? 'disabled' : 'btn_iniciar_sistema' %> btn-block margin-t-10 margin-b-10 ajax-submit" title="Para Iniciar o Sistema, Teste a conexão antes!" data-action="/sistema">Iniciar Sistema</button>


							<%}else {%>
							<button type="button" id="botao_parar_sistema" data-href="/sistema/parar-operacao/" class="btn btn-danger btn-block margin-t-10 margin-b-10 ajax-submit-timer" title="Parar Sistema" data-action="/sistema" data-conect_teste="desconectar">Parar Sistema</button>
							<% }%>
						</div>



					</div>
				</div>


			</div>

		</section>

	</form>




	<section class="no-padding-bottom">
		<div class="row">

			<div class="col-sm-12">
				<div class="card h-100 gradient-card-3  margin-b-0">

					<h5 class="card-title">Notícias

						<button class="btn transparent float-right" onClick="window.location.reload();">Carregar Notícias</button>

					</h5>



					<div class="row no-gutters">


						<div class="col-sm-12 col-md-4 col-xxl-3 padding-20 noticia_1">

							
							<script type="text/javascript"> 

								rssfeed_url = new Array(); 
								rssfeed_url[0]="https://br.investing.com/rss/news_285.rss";  
								rssfeed_frame_width="250"; 
								rssfeed_frame_height="460"; 
								rssfeed_scroll="on"; 
								rssfeed_scroll_step="6"; 
								rssfeed_scroll_bar="off"; 
								rssfeed_target="_blank"; 
								rssfeed_font_size="12"; 
								rssfeed_font_face=""; 
								rssfeed_border="off";  
								rssfeed_title="on"; 
								rssfeed_title_name=""; 
								rssfeed_title_bgcolor="#604196"; 
								rssfeed_title_color="#fff"; 
								rssfeed_title_bgimage=""; 
								rssfeed_footer="off"; 
								rssfeed_footer_name="rss feed"; 
								rssfeed_footer_bgcolor="#fff"; 
								rssfeed_footer_color="#333"; 
								rssfeed_footer_bgimage=""; 
								rssfeed_item_title_length="50"; 
								rssfeed_item_title_color="#000"; 
								rssfeed_item_bgcolor="transparent"; 
								rssfeed_item_bgimage=""; 
								rssfeed_item_border_bottom="on"; 
								rssfeed_item_source_icon="off"; 
								rssfeed_item_date="on"; 
								rssfeed_item_description="on"; 
								rssfeed_item_description_length="300"; 
								rssfeed_item_description_color="#666"; 
								rssfeed_item_description_link_color="#333"; 
								rssfeed_item_description_tag="off"; 
								rssfeed_no_items="0"; 
								rssfeed_cache = "e0218fffba4965f55f4521cfe2320fc6"; 

							</script> 
							<script type="text/javascript" src="//feed.surfing-waves.com/js/rss-feed.js"></script> 





						</div>


						<div class="col-sm-12 col-md-4 col-xxl-3 padding-20 hide-tablet noticia_2">

							<script type="text/javascript"> 

								rssfeed_url = new Array(); 
								rssfeed_url[0]="https://br.investing.com/rss/news_25.rss";  
								rssfeed_frame_width="250"; 
								rssfeed_frame_height="460"; 
								rssfeed_scroll="on"; 
								rssfeed_scroll_step="6"; 
								rssfeed_scroll_bar="off"; 
								rssfeed_target="_blank"; 
								rssfeed_font_size="12"; 
								rssfeed_font_face=""; 
								rssfeed_border="off"; 
								rssfeed_title="on"; 
								rssfeed_title_name=""; 
								rssfeed_title_bgcolor="#604196"; 
								rssfeed_title_color="#fff"; 
								rssfeed_title_bgimage=""; 
								rssfeed_footer="off"; 
								rssfeed_footer_name="rss feed"; 
								rssfeed_footer_bgcolor="#fff"; 
								rssfeed_footer_color="#333"; 
								rssfeed_footer_bgimage=""; 
								rssfeed_item_title_length="50"; 
								rssfeed_item_title_color="#000"; 
								rssfeed_item_bgcolor="transparent"; 
								rssfeed_item_bgimage=""; 
								rssfeed_item_border_bottom="on"; 
								rssfeed_item_source_icon="off"; 
								rssfeed_item_date="on"; 
								rssfeed_item_description="on"; 
								rssfeed_item_description_length="300"; 
								rssfeed_item_description_color="#666"; 
								rssfeed_item_description_link_color="#333"; 
								rssfeed_item_description_tag="off"; 
								rssfeed_no_items="0"; 
								rssfeed_cache = "80d4c45247ce5e1c8b7b2dda1d02997e"; 

							</script> 
							<script type="text/javascript" src="//feed.surfing-waves.com/js/rss-feed.js"></script> 




						</div>



						<div class="col-sm-12 col-md-4 col-xxl-3 padding-20 hide-mobile noticia_3">


							<script type="text/javascript"> 

								rssfeed_url = new Array(); 
								rssfeed_url[0]="https://br.investing.com/rss/news_95.rss";  
								rssfeed_frame_width="250"; 
								rssfeed_frame_height="460"; 
								rssfeed_scroll="on"; 
								rssfeed_scroll_step="6"; 
								rssfeed_scroll_bar="off"; 
								rssfeed_target="_blank"; 
								rssfeed_font_size="12"; 
								rssfeed_font_face=""; 
								rssfeed_border="off";  
								rssfeed_title="on"; 
								rssfeed_title_name=""; 
								rssfeed_title_bgcolor="#604196"; 
								rssfeed_title_color="#fff"; 
								rssfeed_title_bgimage=""; 
								rssfeed_footer="off"; 
								rssfeed_footer_name="rss feed"; 
								rssfeed_footer_bgcolor="#fff"; 
								rssfeed_footer_color="#333"; 
								rssfeed_footer_bgimage=""; 
								rssfeed_item_title_length="50"; 
								rssfeed_item_title_color="#000"; 
								rssfeed_item_bgcolor="transparent"; 
								rssfeed_item_bgimage=""; 
								rssfeed_item_border_bottom="on"; 
								rssfeed_item_source_icon="off"; 
								rssfeed_item_date="on"; 
								rssfeed_item_description="on"; 
								rssfeed_item_description_length="300"; 
								rssfeed_item_description_color="#666"; 
								rssfeed_item_description_link_color="#333"; 
								rssfeed_item_description_tag="off"; 
								rssfeed_no_items="0"; 
								rssfeed_cache = "5f62c67b830005b4ff729a01fee76e16"; 

							</script> 
							<script type="text/javascript" src="//feed.surfing-waves.com/js/rss-feed.js"></script> 


						</div>

						<div class="col-sm-12 col-md-4 col-xxl-3 padding-20 hide-xxl noticia_4">


							<script type="text/javascript"> 

								rssfeed_url = new Array(); 
								rssfeed_url[0]="http://web.infomoney.com.br/offline/rss/investimentos.xml"; 
								rssfeed_frame_width="250"; 
								rssfeed_frame_height="460"; 
								rssfeed_scroll="on"; 
								rssfeed_scroll_step="6"; 
								rssfeed_scroll_bar="off"; 
								rssfeed_target="_blank"; 
								rssfeed_font_size="12"; 
								rssfeed_font_face=""; 
								rssfeed_border="off";  
								rssfeed_title="on"; 
								rssfeed_title_name=""; 
								rssfeed_title_bgcolor="#604196"; 
								rssfeed_title_color="#fff"; 
								rssfeed_title_bgimage=""; 
								rssfeed_footer="off"; 
								rssfeed_footer_name="rss feed"; 
								rssfeed_footer_bgcolor="#fff"; 
								rssfeed_footer_color="#333"; 
								rssfeed_footer_bgimage=""; 
								rssfeed_item_title_length="50"; 
								rssfeed_item_title_color="#000"; 
								rssfeed_item_bgcolor="transparent"; 
								rssfeed_item_bgimage=""; 
								rssfeed_item_border_bottom="on"; 
								rssfeed_item_source_icon="off"; 
								rssfeed_item_date="on"; 
								rssfeed_item_description="on"; 
								rssfeed_item_description_length="300"; 
								rssfeed_item_description_color="#666"; 
								rssfeed_item_description_link_color="#333"; 
								rssfeed_item_description_tag="off"; 
								rssfeed_no_items="0"; 
								rssfeed_cache = "df8b500a86cd22a767b996a6c9db521d"; 

							</script> 
							<script type="text/javascript" src="//feed.surfing-waves.com/js/rss-feed.js"></script> 

						</div>

					</div>
				</div>

			</div>
		</section>




	</div>



	<script>


		Chart.defaults.global.defaultFontSize = 16;
		var canvas = document.getElementById("grafico_historico");
		var ctx = canvas.getContext('2d');


		<% if(data[usuario.id +'_entrada_acertos']>0 && data[usuario.id +'_entrada_falha'] >0 ){%>


			var data = {
				datasets: [
				{
					backgroundColor: ['#1221d6','#beb6ed'],
					data: [<%= data[usuario.id +'_entrada_acertos'] %>, <%= data[usuario.id +'_entrada_falha'] %>],
					label:'Operações',
					borderWidth: 0
				}
				],labels: [
				'Acertos',
				'Falhas'
				]
			};

			var options = {
				legend:{
					display:false
				},
				segmentShowStroke: false,
				responsive:true
			}





			var myBarChart = new Chart(ctx, {
				type: 'pie',
				data: data,
				options:options
			});


			<%}else{%>

				var data = {
					datasets: [
					{
						backgroundColor: ['#1221d6','#beb6ed'],
						data: [10,0],
						label:'Operações',
						borderWidth: 0
					}
					],labels: [
					'',
					''
					]
				};

				var options = {
					legend:{
						display:false
					},
					segmentShowStroke: false,
					responsive:true
				}





				var myBarChart = new Chart(ctx, {
					type: 'pie',
					data: data,
					options:options
				});



				$('.operacoes_mensagem_no_data').removeClass('none')
				<%}%>






			</script>